{% block description %}{{ parent() }}{% endblock %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block container %}
  <div class="well">
    <h1>Projet supprimé</h1>
    <p>Le Projet a bien été supprimé</p>
  </div>
{% endblock %}
